# Traefik
TRAEFIK_TOML_FILE=./traefik.toml

# S3 passwords
WAARNEMING_S3_USER=waarneming
WAARNEMING_S3_PASS=
XENOCANTO_S3_USER=xenocanto
XENOCANTO_S3_PASS=
NATURALIS_S3_USER=naturalis
NATURALIS_S3_PASS=

# Minio data directory
MINIO_WAARNEMING_DATA_DIR=/data/validator/minio-waarneming
MINIO_XENOCANTO_DATA_DIR=/data/validator/minio-xenocanto
MINIO_NATURALIS_DATA_DIR=/data/validator/minio-naturalis

# Elastic search for logging
ELASTICSEARCH_DATA=/data/elasticsearch-data
ELASTICSEARCH_BACKUP=/data/elasticsearch-backup
LOGGING_HOST=elasticsearch
LOGGING_PORT=9200
LOGGING_SCHEME=http

# The NBA Server
NBA_HOST=127.0.0.1
NBA_PORT=9200
NBA_SCHEME=http

# Grafana
GRAFANA_DATA=/data/grafana-data
GRAFANA_ADMIN_PASS=secret

# Shared data location on the host machine
SHARED_DATA=/data/shared-data
PYTHON_CODE=/data/python-code
NOTEBOOKS=/data/notebooks

# Postgres
PG_DATA=/data/postgres-data
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=percolator
POSTGRES_SCHEMA=public
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
REPLICATION_USER=replicator
REPLICATION_PASSWORD=

# Validator config
NBA_JSON_SCHEMAS=/data/nba_json_schemas
NBA_VALIDATOR_CONFIG=/data/nba_validator_config
VALIDATOR_DATA=/data/validator

# Percolator config
PERCOLATOR_CONFIG=/shared-data/config.yml

# Infuser config
INFUSER_BATCHSIZE=500
INFUSER_JOBSPATH=/data/jobs
INFUSER_INCOMINGPATH=/data/incoming
INFUSER_ARCHIVEPATH=/data/archive

# Slack
SLACK_WEBHOOK=
SLACK_ENABLED=0

# SMTP
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
