TRAEFIK_TOML_FILE=./traefik.toml
WAARNEMING_S3_USER=waarneming
XENOCANTO_S3_USER=xenocanto
NATURALIS_S3_USER=naturalis
WAARNEMING_S3_PASS=secret
XENOCANTO_S3_PASS=secret
NATURALIS_S3_PASS=secret
MINIO_WAARNEMING_DATA_DIR=/data/validator/minio-waarneming
MINIO_XENOCANTO_DATA_DIR=/data/validator/minio-xenocanto
MINIO_NATURALIS_DATA_DIR=/data/validator/minio-naturalis
ELASTICSEARCH_DATA=/data/elasticsearch-data
ELASTICSEARCH_BACKUP=/data/elasticsearch-backup
GRAFANA_DATA=/data/grafana-data
GRAFANA_ADMIN_PASS=secret
PG_DATA=/data/postgres-data
SHARED_DATA=/data/shared-data
PYTHON_CODE=/data/python-code
NOTEBOOKS=/data/notebooks
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ppdb
POSTGRES_SCHEMA=public
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
REPLICATION_USER=replicator
REPLICATION_PASSWORD=secret
NBA_JSON_SCHEMAS=/data/nba_json_schemas
NBA_JSON_CONFIG=/data/nba_json_schemas_config
VALIDATOR_DATA=/data/validator
SHARED_DATA=/data/shared-data
PERCOLATOR_CONFIG=/shared-data/config.yml
